<h1>Submit a review</h1>
<%= simple_form_for [@restaurant, @review], method: :post do |f| %>
  <%= f.input :rating, collection: 0..5, prompt: 'Rate the restaurant' %>
  <%= f.input :content, as: :text, placeholder: 'Write a short review here' %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
