<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant %></h2>
  <p><%= restaurant.category %></p>
  <% reviews = Review.where(restaurant_id: restaurant.id) %>
  <%= reviews.each { |review| review.rating } %>
<% end %>
