<div class="d-flex flex-column">
<% @restaurants.each do |restaurant| %>
<div class="restaurant d-flex justify-content-between">
  <h2><%= link_to restaurant.name, restaurant %></h2>
  <p><%= restaurant.category %> | <%= restaurant.average_rating %> stars</p>
</div>
<% end %>
</div>