<% @restaurants.each do |restaurant| %>
  <% reviews = Review.where(restaurant_id: restaurant.id) %>
  <% reviews.each do |review| %>
    <%= review %>
  <% end %>
  <h2><%= link_to restaurant.name, restaurant %></h2>
  <p><%= restaurant.category %></p>
<% end %>
