<% @restaurants.each do |restaurant| %>
  <% reviews = Review.where(restaurant_id: restaurant.id) %>
  <% rating = [] %>
  <% reviews.each { |review| rating << review.rating } %>
  <% rating = rating.sum(0.0) / rating.size %>
  <h2><%= link_to restaurant.name, restaurant %></h2>
  <p><%= restaurant.category %> <%= rating %></p>
<% end %>
